Django==5.2.5
dj-database-url==2.3.0
python-dotenv==1.0.1
psycopg[binary]==3.2.3
google-api-python-client==2.149.0
google-auth==2.37.0
google-auth-httplib2==0.2.0
google-auth-oauthlib==1.2.1
openai==1.51.2
beautifulsoup4==4.12.3
django-allauth==65.0.2
PyJWT==2.9.0
cryptography==43.0.3
